.iac-map--container {
  width: 100%;
  margin-top: 20px;

  .iac-map {
    height: 640px;
    margin-top: 20px;
    transition: 0.3s ease;
    transition-property: height, border, opacity;
    border: 1px solid var(--jade);
  }
}
